
<!DOCTYPE html>
<html>
<head>
<title>Ad Campaign Manager</title>
</head>
<body>
<h1>Ad Campaign Manager</h1>
<form action="/submit" method="POST">
<label for="campaign_name">Campaign Name:</label>
<input type="text" id="campaign_name" name="campaign_name" required>
<br>
<label for="start_date">Start Date:</label>
<input type="date" id="start_date" name="start_date" required>
<br>
<label for="end_date">End Date:</label>
<input type="date" id="end_date" name="end_date" required>
<br>
<label for="budget">Budget:</label>
<input type="number" id="budget" name="budget" required>
<br>
<input type="submit" value="Submit">
</form>
</body>
</html>


